# gradle.properties file for building the XNAT pipeline engine.
# This file is managed by xnat Puppet module.
#
xnatUrl=<%= scope.lookupvar('::xnat::site_url') %>
siteName=<%= scope.lookupvar('::xnat::site_name') %>
adminEmail=<%= scope.lookupvar('::xnat::mail_admin') %>
smtpServer=<%= scope.lookupvar('::xnat::mail_server') %>
destination=<%= scope.lookupvar('::xnat::pipeline_path_real') %>
